VITE_SUPABASE_URL=https://mpypysymoauwwyjqtwxr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1weXB5c3ltb2F1d3d5anF0d3hyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxNzM1MTMsImV4cCI6MjA3Mzc0OTUxM30.98dhs4as32qbqWLicaVu9RB3dRR-eOX28fGg3QlCkTI